body {
    background-color: cornflowerblue;
}

.title {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.subheading {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: darkblue;
}

.link-underlined {
    text-decoration: underline;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}