body {
  background-color: cornflowerblue;
}

li {
  list-style: none;
}

.title {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;

  margin: 1rem;
}

.heading-1 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: darkblue;

  margin: 1rem;
}

.heading-2 {
  font-family: "Arial", sans-serif;
  font-size: 20px;

  background-image: linear-gradient(85deg, white 50%, rgb(114, 114, 246));
  color: transparent;
  background-clip: text;
}

.link-underlined {
  text-decoration: underline;
  color: whitesmoke;
  margin: none;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  list-style: none;

  background-color: white;
  padding: 15px;
  display: block;
  border-radius: 5px;

  margin: 0.8rem;
}

.unavailable {
  color: grey;
}
